<!-- <link rel="stylesheet" href="style.css" /> -->
<!-- <img src="./tic-tac-toe-sketch.webp" width="150" height="150" /> -->

<h1>Tic-Tac-Toe</h1>

<style>
  #player {
    display: none;
  }
</style>

<form action="{{ url_for("home")}}" method="post" >
  <label>Enter the first player's name:</label>

  <p>
    <input id="player1ID" name="player1" />
  </p>

  <label
    >Enter the second player's name:
    <p>
      <input id="player2ID" name="player2" />
    </p>
  </label>
  <button type="submit">Play</button>
</form>
